# Игнорировать папки сборки и зависимостей
dist
node_modules

# Игнорировать файлы окружения
.env
.env.*

# Игнорировать кэш
.vite
.eslintcache

# Игнорировать собранные файлы
*.min.js
*.min.css

# Игнорировать временные файлы
*.log
*.swp
*.bak
*.tmp

# Игнорировать конфигурационные файлы других инструментов
tsconfig.json
vite.config.ts 